@import url("https://fonts.googleapis.com/css?family=Caveat|Mali");

:root {
  --mainDark: #353535;
  --mainGreen: #3c6e71;
  --mainWhite: #fff;
  --mainGrey: #d9d9d9;
  --mainIndigo: #284b63;
}
body {
  font-family: "Mali", cursive;
  background: var(--mainWhite);
  color: var(--mainDark);
}
/* global styles */
.text-green {
  color: var(--mainGreen);
}
.text-slant {
  font-family: "Caveat", cursive;
}
.green__btn {
  color: var(--mainGreen);
  border: 0.1rem solid var(--mainGreen);
  background: transparent;
}
.green__btn:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}
.grey__btn {
  color: var(--mainGrey);
  border: 0.1rem solid var(--mainGrey);
  background: transparent;
}
.grey__btn:hover {
  background: var(--mainGrey);
  color: var(--mainGreen);
}

.title-underline {
  width: 12rem;
  height: 0.3rem;
  margin: 0 auto;
  position: relative;
  border-radius: 2rem;
}
.title-underline__center {
  position: absolute;
  height: 0.6rem;
  background: var(--mainGreen);
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.blockquote {
  border-left: 0.5rem solid var(--mainGreen);
}
/* end of global styles */
#logo {
  filter: hue-rotate(59deg) brightness(0.6);
}
/* navbar */
.navbar {
  background: var(--mainIndigo);
}
.phone-icon {
  color: var(--mainGrey);
  border: 0.1rem solid var(--mainGrey);
  padding: 0.5rem;
  border-radius: 50%;
}
/* end of navbar style */
/* banner */
.banner-info {
  min-height: calc(100vh - 101px);
  background: var(--mainGrey);
  position: relative;
}
.banner-info__footer {
  background: var(--mainGreen);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.banner-img {
  min-height: calc(100vh - 101px);
  background: url("../img/bannerBcg.jpeg") center/cover fixed no-repeat;
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fix; */
  position: relative;
}
.banner-img__footer {
  background: var(--mainDark);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 104px;
  display: flex;
  align-items: center;
}
/* end of banner */
/* about img */
.img-container {
  position: relative;
}
.featured-icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.featured-icon-left {
  background: var(--mainDark);
  padding: 0.5rem;
  display: inline-block;
  color: var(--mainWhite);
}
.featured-icon-right {
  background: var(--mainGreen);
  padding: 0.5rem;
  display: inline-block;
  color: var(--mainWhite);
}

/* featured section */
.featured {
  background: var(--mainGrey);
}

/* contact section */
.contact {
  background: var(--mainGreen);
  color: var(--mainWhite);
}
.contact-btn {
  background: transparent;
  color: var(--mainWhite);
  border: 0.1rem solid var(--mainWhite);
}
.contact-btn:hover {
  background: var(--mainWhite);
  color: var(--mainGreen);
}

/* services section */
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/bannerBcg.jpeg) center/cover fixed no-repeat;
}

.services-info-text {
  color: var(--mainWhite);
  background: var(--mainGreen);
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.services-info-text:hover {
  color: var(--mainDark);
  text-decoration: none;
}

.service-icon {
  font-size: 2rem;
  color: var(--mainGreen);
  padding: 0.5rem;
  border: 0.1rem solid var(--mainGreen);
  margin-right: 1rem;
  transition: all 1s ease-in-out;
}
.service-icon:hover {
  color: var(--mainGrey);
  background: var(--mainGreen);
}

.service-link:hover {
  color: var(--mainWhite);
}

/* gallery section */
.gallery-btn:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.gallery-img-container {
  position: relative;
  transition: all 1s linear;
  overflow: hidden;
}
.gallery-img-container:hover {
  background: rgba(0, 0, 0, 0.9);
}
.gallery-img-container:hover .gallery-info {
  transform: translate(-50%, 0);
}

.gallery-img {
  transition: all 1s linear;
}
.gallery-img-container:hover .gallery-img {
  opacity: 0.3;
}

.gallery-info {
  background: var(--mainGreen);
  color: var(--mainWhite);
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all 0.3s linear;
}
.gallery-info:hover {
  text-decoration: none;
  color: var(--mainDark);
}
.gallery-icon {
  font-size: 2rem;
  position: absolute;
  color: var(--mainWhite);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s linear;
  cursor: pointer;
}
.gallery-img-container:hover .gallery-icon {
  opacity: 1;
}
